<form>
  <div class="form-group">
    <label>Book ID</label>
    <input type="text" class="form-control" id="bookid" aria-describedby="idHelp" placeholder="Enter BookId" required>
  </div>
  <div class="form-group">
    <label >Book Name</label>
    <input type="text" class="form-control" id="bookname" placeholder="Enter Book Name" required>
  </div>
  <div class="form-group">
    <label >Book Author</label>
    <input type="text" class="form-control" id="bookauthor" placeholder="Enter Book's Author Name" required>
  </div>
  <div class="form-group">
    <label >Number of Books Added</label>
    <input type="number" class="form-control" id="noOfBooks" placeholder="Enter Number of Books" required>
  </div>
  
  <input type="submit" class="btn btn-primary" value="Submit">
</form>
